# project

.nx
node_modules
package-lock.json

# packages

packages/aitubiao-server/static
packages/aibaiban-server/static
packages/aibaiban-web
packages/mcp-admin-server/static
packages/mcp-index-server/static
packages/remotion-server/static
